extends layout.pug

block content 
  include includes/breadcrumb.pug

  article.grid-container.portfolio-intro.portfolio-project
    .grid-x.paper-bg.margin-bottom-2
      .cell.small-12.medium-9.large-9

        h1= project.project_name

        p.lead.text-light
          | #{project.description}

      .cell.portfolio-meta.small-12.medium-2.large-3
        h6 Technologies

        each technology in project.technologies
          ul
            li #{technology}

        if project.live_link
          a.button.expanded(href=`${project.live_link}` target="_blank") Live Demo
        if project.github_link
          a.button.expanded(href=`${project.github_link}` target="_blank") GitHub Repo
    
    //- desktop gallery
    .project-gallery-lg
      each image_url, idx in project.image_urls.gallery
        img.image(src=`${image_url}` data-open=`gallery-image-${idx}`)
        
        div.reveal.large(id=`gallery-image-${idx}` data-reveal data-animation-in="fade-in" data-animation-out="fade-out" data-close-on-click="true")
          img(src=`${image_url}`)
          button.close-button(data-close='' aria-label='Close modal' type='button')
            span(aria-hidden='true') &times;

    //- mobile gallery
    .project-gallery-sm
      each image_url, idx in project.image_urls.gallery_sm
        img.image(src=`${image_url}` data-open=`gallery-image-sm-${idx}`)
        
        div.reveal.large(id=`gallery-image-sm-${idx}` data-reveal data-animation-in="fade-in" data-animation-out="fade-out" data-close-on-click="true")
          img(src=`${image_url}`)
          button.close-button(data-close='' aria-label='Close modal' type='button')
            span(aria-hidden='true') &times;